body {
  z-index: 0;
  background-color: #141d26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Work Sans', sans-serif;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
    #game-container {
      z-index: 3;
      position: absolute;
      width: 250px;
      height: 65px;
      overflow: hidden;
      opacity: 1;
      top: 35%;
      
    }

    .pause-text {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 30px;
      color: #243447;
      transform: translate(-50%, -50%);
      
    }

    #player {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #dbd034;
      bottom: 5px;
      left: 20px;
      transition: transform 0.3s ease-out;
      /* Ajout de la transition pour une animation fluide */
    }

    #ground {
      position: absolute;
      width: 100%;
      height: 5px;
      bottom: 0;
      background-color: #c51f5d;
    }

    .obstacle {
      position: absolute;
      width: 15px;
      height: 28px;
      bottom: 5px;
      background-color: #dbd034;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23141d26' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }

    .hole {
      position: absolute;
      width: 80px;
      height: 5px;
      bottom: 0;
      background-color: #141d26;
    }

    #counter {
      position: absolute;
      top: 18px;
      right: 1px;
      font-size: 14px;
      color: #dbd034;
    }

    .counter-display {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px; 
      color: #dbd034;
      opacity: 0;
      transition: font-size 0.5s ease-out, opacity 0.5s ease-out;
    }


    #pbCounter {
      position: absolute;
      top: 1px;
      right: 1px;
      font-size: 18px;
      color: #c51f5d;
    }

    #jump-button {
      z-index: 50;
      position: absolute;
      height: 100px;
      width: 250px;
      bottom: 25%;
      opacity: 0;
    }
    
    .jumpDisplay {
      z-index: 10;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100px;
      width: 250px;
      bottom: 25%;
      opacity: 1;
      background-color: #243447;
      color: #141d26;
      border-radius: 20px;
      font-size: 25px;
    }

    .infotext {
      position: absolute;
      bottom: 20%;
      cursor: pointer;
      left: 55%;
      color: #243447;
      }

        .infotext.clicked { 
          text-decoration: underline;
        }

        @media screen and (max-width: 768px) {
          .infotext {
              pointer-events: none;
              opacity: 0;
          }
          
        }
  .footer {
    z-index: 3;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    color: #666;
    background-color: #111;
    text-align: center;
    font-size: 14px;
  }
      @media (max-width: 768px) {
      .footer{ 
          font-size: 12px;
      }}
      @media (max-width: 320px) {
      .footer{ 
          height: 10vh;
          font-size: 12px;
      }}
  a {
    color: #c51f5d;
  }